# MotaLink Production Environment Variables
DATABASE_URL="postgresql://motalink:motalink_pass_2026@localhost:5432/motalink_db?schema=public"
NEXTAUTH_SECRET="motalink_super_secret_jwt_key_zimbabwe_2026_production"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"
